html{ font-size: 100%;
}

body{
background-color: gray;}

p {
  font-size: 1rem;
	color: darkred;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
h1,h4{
  font-family: 'Roboto Slab', Georgia, "Times New Roman", serif;
}
h4{
  font-size: 1.25rem;
  line-height: 1.25rem;
}
h1 {
    color: darkred;
    font-weight: bold;
    font-size: 2.5rem;
}
.nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
      padding: 0;
    }
.content {
  display: flex;
  flex-direction: column;
}





.nav li{
  margin: 0;
    padding: 0;
  border: .1rem solid black;
  text-decoration: none;
}

    .nav a:link, a:visited {
    	display:block;
        color: black;
        text-align:center;
        text-decoration: none;
        padding: 4px;
      font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    }

    .nav a:hover {
      display: block;
    font-weight: bold;
    color: lightgray;
        background-color: darkred;
    }

img{
  display: flex;
  border-style: none;
}


.caption {
  color:black;
  font-style: italic;
  font-size: .85rem;
  margin-left: 15%;
  font-family:'Roboto Condensed', Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 600px){
  .nav{flex-direction: row;
  justify-content: center;}
/*  .content p{
    flex-direction: row;
    width: 70%;
    float: left;} */
  img{
        float: right;}
  .content1 {order: -1;}
  .content2{order: 1;}

}
